/* index.css */

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 해더영역 */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 가운데 정렬 */
  text-align: center; /* 텍스트 수평 가운데 정렬 */
}

.logo-imges {
  margin-right: auto;
  /* 추가 스타일링이 필요한 경우 여기에 작성 */
}
/* 여기까지 */

/* 이미지 박스 css */
.restaurant-box {
  width: calc(33.3333% - 20px);
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
    border-radius: 0 0 10px 10px;
    color: #fff;

    h3 {
      margin: 0;
      font-size: 1.5em;
    }

    p {
      margin: 10px 0 0;
      font-size: 1em;
    }
  }
}

.restaurant-box .text-container {
  display: none;
}

.restaurant-box:hover .text-container {
  display: block;
}

/* 여기까지 */

/*헤더랑 푸터영역 색상*/
.header-container {
  background-color: beige; /* 베이지색 배경으로 변경 */
  padding: 10px;
}

.footer-container {
  background-color: beige; /* 베이지색 배경으로 변경 */
  padding: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/* 기존 스타일들 */

/* 공통 스타일 */
.search-bar {
  text-align: center; /* 가운데 정렬 */
}

.logo-container {
  float: right; /* 로고를 오른쪽에 배치 */
  cursor: pointer;
}

.logo-image {
  width: 50px; /* 로고 이미지 크기 조절 */
}

.search-input {
  display: inline-block; /* 인라인 블록으로 배치 */
}

input[type="text"] {
  padding: 10px; /* 검색창 크기 조절 */
  margin-right: 5px; /* 검색창과 버튼 사이의 간격 조절 */
}

button {
  padding: 10px; /* 버튼 크기 조절 */
  cursor: pointer;
}

/* 이미지 박스 영역 스타일 */
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant-box {
  margin: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.restaurant-box img {
  max-width: 100%;
  height: auto;
}
/* 여기까지 */
